/* Do not show bullet points for TOC entries: */
#TOC ::marker { content: none; }
/* Put the table-of-contents in 30%-ish wide left column. */
#TOC {
  position: fixed;
  top: 0;
  left: 0;
  width: 28%;
}
/* Put the main text in a 50%-ish wide column next to the TOC. */
body {
  position: relative;
  left: 30%;
  width: 50%;
}
/* Use a sans-serif font: */
body {
  font-family: sans-serif;
}
/* Don't show <span>s in TOC by default
   except if it's a section number. */
#TOC a span {
  display: none;
}
#TOC a span.toc-section-number {
  display: inline;
}
/* Hide header link by default
   except on mouse hover, or
   click/tap (for mobile users) */
h1 a, h2 a, h3 a {
  visibility: hidden;
  font-size: 85%;
}
h1:hover a, h1:active a,
h2:hover a, h2:active a,
h3:hover a, h2:active a {
  visibility: visible;
}

/* For smaller screens: */
@media only screen and (max-width : 768px) {
/* Put table-of-contents above paragraph elements. */
#TOC {
  position: relative;
  left: 1%;
  width: 94%;
}
/* Ensure superflous horizontal scroll bar is not added. */
body {
  text-align: left;
  position: relative;
  left: 1%;
  width: 94%;
  overflow-x: hidden;
}
/* Justify text for small-screen readability. */
p {
  text-align: justify;
  text-justify: auto;
}
}
