/* Do not show bullet points for TOC entries: */
#toc-sidebar ::marker
{ content: none; }
/* Use a sans-serif font: */
body {
  font-family: sans-serif;
}
/* Don't show <span>s in TOC by default
   except if it's a section number. */
#toc-sidebar a span
{
  display: none;
}
#toc-sidebar a span.toc-section-number
{
  display: inline;
}

/* only show TOC 2 levels deep: */
#toc-sidebar ul ul ul
{
  display: none;
}

/* Remove underline from links in TOC. */
#toc-sidebar a
{
  text-decoration: none;
}

/* Hide header link by default
   except on mouse hover, or
   click/tap (for mobile users) */
h1 a, h2 a, h3 a {
  visibility: hidden;
  font-size: 85%;
}
h1:hover a, h1:active a,
h2:hover a, h2:active a,
h3:hover a, h2:active a {
  visibility: visible;
}

/* Set layout and size for top-level divs:
  +-----------------------------------+
  | body                              |
  |+---------------------------------+|
  ||   #top-bar                      ||
  |+---------------------------------+|
  ||   #all-below-top-bar            ||
  ||+------------+------------------+||
  |||#toc-sidebar| #main-content-col|||
  ||+------------+------------------+||
  |+-------------+-------------------+|
  +-----------------------------------+

   We're not using bootstrap for this top-level
   layout (body, all-below-top-bar) because
   it seems it does not support the necessary
   "calc" height functionality needed for
   #all-below-top-bar.

   Within those containers, we do use bootstrap.
*/

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#all-below-top-bar {
  height: calc(100vh - 56px);
}

/* Set maximum width so that lines do not get too long.
   Lines of text that are too long are harder to read... */
#main-content-col {
  max-width: 768px; /* = bootstrap Medium/md */
}
