/* Do not show bullet points for TOC entries: */
#TOC ::marker { content: none; }
/* Use a sans-serif font: */
body {
  font-family: sans-serif;
}
/* Don't show <span>s in TOC by default
   except if it's a section number. */
#TOC a span {
  display: none;
}
#TOC a span.toc-section-number {
  display: inline;
}
/* Hide header link by default
   except on mouse hover, or
   click/tap (for mobile users) */
h1 a, h2 a, h3 a {
  visibility: hidden;
  font-size: 85%;
}
h1:hover a, h1:active a,
h2:hover a, h2:active a,
h3:hover a, h2:active a {
  visibility: visible;
}
