name: Build book with docker container CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: build
      run: ./build_with_docker.sh

    - name: Archive PDF and HTML output
      uses: actions/upload-artifact@v2
      with:
        name: HTML and PDF books
        path: |
          build/*.pdf
          build/*.html
